body{
    text-align: center;

	background-image: url("https://play-lh.googleusercontent.com/OF6-XCKzfVKLMLgSZOwvYnmj0NNOhOzu9meOAr1EJA-rWQ0HgSWjo-wCGRkKxHVkO212=w1024");
            background-size: cover;
          
        }
        h2{
            color: yellow;
        }
        h3{
       color: yellowgreen;
        }
msg{
	color:white;
}
